body {
    height: 100% ;
    //background-image: linear-gradient(to bottom, #fff 65% , var(--blueOSW) 100% ) ;
    background-position: bottom ;
    background-repeat: no-repeat ;
    background-attachment: fixed ;
    }

.logo {
    width: 40vw ;
    margin: 10vh auto ;
    }

.guilders {
    position: absolute ;
    top: 70% ;
    z-index: -1 ; 
    animation: introGuilders 6s  ;
    padding-bottom: 2rem ;
    }


@keyframes introGuilders {
     
    0% {
        transform: translateY(-100vh);
        opacity: 0 ;
    }
    
}

.guilders ul {
    width: 100% ;
    display: flex ;
    justify-content: center ;
    flex-flow: wrap-reverse row-reverse ;
    justify-content: flex-start ;
}

.guilders li {
    width: 8% ;
    margin: 1% ;
    border-radius: 100% ;
    overflow: hidden ;
    //opacity: .45 ;
    border: 8px solid var(--blueOSW) ;
    box-sizing: border-box ;
    }

.guilders .newGuilder {
    opacity: 1 ;
    animation: intro .8s  ;
}

@keyframes intro {
     
    0% {
        transform: scale(2)  ;
        opacity: 0 ;
    }
    
}


.join {
    display: block ;
    font-size: 1rem ;
    -webkit-font-smoothing: antialiased ;
    background-color: #000 ;
    color: #fff ;
    padding: 1.25em 2.2em ;
    //background-color: var(--blueOSW) ;
    background-image: linear-gradient(to bottom, #1B5DCC 0% , var(--blueOSW) 100% ) ;
    margin: 2em auto ;
    border-radius: .4em ;
    font-weight: 700 ;
    cursor: pointer ;
    transition: all .15s ;
    letter-spacing: 3px ;
    box-shadow: inset 0 -3px 0  rgba(0,0,40,.25) ;
    }

    .join:hover {
        background-color: dodgerblue ;
        transform: scale(1.1) ;
        }

.join:hover i {
    animation: shake .5s .2s ;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0) rotate(-3deg);
        }

    20%, 80% {
        transform: translate3d(2px, 0, 0) rotate(4deg);
        }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0) rotate(-6deg);
        }

    40%, 60% {
        transform: translate3d(4px, 0, 0) rotate(6deg);
        }
}


@media all and (max-width: 680px) {
    
    .logo {
        width: 80% ;
    }
    
    .guilders li {
        width: 16% ;
        margin: 2% ;
        }
    
    .join {
    padding: 1.25em 2.2em 1.5em ;
        width: 65% ;
        box-sizing: border-box ;
        animation: pulse .15s infinite alternate ease-in-out ;
        }
    
    .join i {
        font-size: 1.5em ;
        display: block ;
        width: 100% ;
        margin-bottom: .4em ;
        }
}


@keyframes pulse {
    
    to {
        transform: scale(1.05) ;
    }
}




/* MODAL */

.modal {
	position: fixed ;
	width: 100% ;
	height: 100% ;
	background-color: rgba(0,0,10,.8) ;
	top: 0 ;
	left: 0 ;
	z-index: 99999 ;
	animation: introModal .4s ;
	}

@keyframes introModal {
	
	0% {
		opacity: 0 ;
		transform: translateY(-25%) scale(1.75)
	}
	
}


.mensaje {
	width: 450px ;
	padding: 40px 20px ;
	position: absolute ;
	top: 45% ;
	left: 50% ;
	transform: translate(-50%,-50%) ;
	background-color: #fff ;
	font-size: 1rem ;
	text-align: center ;
	border-radius: 8px ;
	box-shadow: 0 10px 25px rgba(0,0,0,.85) ;
	}

.cerrar-btn {
	width: 50px ;
	height: 50px ;
	background-color: black ;
	position: absolute ;
	top: -20px ;
	right: -20px ;
	border-radius: 70px ;
	background-image: url(ui-img/cross.svg) ;
	background-size: 50% ;
	background-repeat: no-repeat ;
	background-position: center ;
	cursor: pointer ;
	transition: all .25s ;
}
.cerrar-btn:hover {
	transform: rotate(90deg)
}


.mensaje i {
	display: block ;
	width: 80px ;
	height: 80px ;
	margin: 0 auto 1em ;
	}

.good {
	background-image: url(ui-img/good.svg) ;
	}

.bad {
	background-image: url(ui-img/bad.svg) ;
}







