<header>
	<div class="main-title text-center">
	   <h1>Guilds Website!</h1>
	   <% if (!user) { %>
			<h3>Welcome Friend!</h3>
		<% } else { %>
			<h3>👋 <%= user.displayName %>!</h3>
		<% } %>
	</div>
</header>




