<div class="main-title text-center">
	<h2>👋 Welcome Friend!</h2>
	<h3>Please sign in to become a real Guilder!</h3>
    <a href="/auth/github" class="btn btn-lg btn-dark mt-5"><i class="fab fa-github pr-3"></i>Log in with GitHub</a>
</div>