main{
	
}
main header.header{
	display: block;
	width: 100%;
}

main header .logo{
    margin: 20px 0 20px 0;
    text-align: center;
    text-indent: -10000;
}
main header .logo span{
	display: none;
}

main header .logo img{
    max-width: 25%;
}


/*

	BARRA NAVEGACIÓN CON BANDERAS

*/
nav{
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}
nav ul{
	margin:0;
	padding: 0;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}

/*

	DATOS DE LA GUILD

*/
.guild{
	border-top: 10px solid #eeeeee;
	border-bottom: 20px solid #eeeeee;
	border-radius: 50px;
	margin: 20px 5%;
}

.guild header{
	margin:0 auto 20px;
	max-width: 80%;
}

.guild img.logo-guild{
	max-width: 100px;
}

.guild h1{
	position: relative;
	padding: 15px 0;
	height: 70px;
	border-bottom: 1px solid #dddddd;
}
.guild h1 span{	
	position: absolute;
	right: 0;
	color: #333333;
	margin: 0 10px;
	font-family: 'Roboto Slab', serif;	
}

.guild h2{
	max-width: 80%;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;		
	color: #333333;
	text-align: right;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
}


.intro{
	padding: 20px 0 10px 0;
}

.intro p{
	color: #555;	
}

.cta{
	text-align: center;
}

.cta button{
	margin: 0 20px;
}

.join{
	display: block;
}

/*

	LISTADO PROYECTOS

*/

.table{
    max-width: 80%;
    margin:0 auto;
}

.table ul{
    padding: 0;
}

/*

	LISTADO GUILDERS

*/

.guilders{
	max-width: 80%;
	margin: 0 auto;
}

.guilders ul{
	list-style-type: none;
	text-align: center;
	padding: 10px 0;
}

.guilders ul li{
	padding: 5px 10px;
	display: inline-block;
	max-width: 165px;
	text-align: center;
}

.guilders img.photo-guilder{
	padding: 0 5px 0 0;
	max-width: 150px;
}
