main{
	padding-top: 200px;
}
main header.header{
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	background-color:rgba(255,255,255,0.8);
	z-index: 1;
}
.table{
    max-width: 80%;
    margin:0 auto;
}

.table ul{
    padding: 0;
}

img.logo-guild{
	max-width: 100px;
}

nav{
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}
nav ul{
	margin:0;
	padding: 0;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
nav ul li a{

}
nav ul li a img{}

.logo{
    margin: 20px 0 20px 0;
    text-align: center;
    text-indent: -10000;
}
.logo span{
	display: none;
}
.logo img{
    max-width: 25%;
}


.guild{
	border-top: 10px solid #eeeeee;
	border-bottom: 20px solid #eeeeee;
	border-radius: 50px;
	margin: 20px 5%;
}

.guild header{
	margin:0 auto 20px;
	max-width: 80%;
}

.guild link{
	
}
.guild h1{
	position: relative;
	padding: 15px 0;
	height: 70px;
}
.guild h1 span{	
	position: absolute;
	right: 0;
	color: #333333;
	margin: 0 10px;
	font-family: 'Roboto Slab', serif;	
}
.guild img{
	
}

.guild h2{
	max-width: 80%;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;		
	color: #333333;
	text-align: right;
	padding: 10px;
}

.intro{
	border-top: 1px solid #dddddd;
	padding: 20px 0 10px 0;
}

.intro p{
	color: #555;	
}

.cta{
	text-align: center;
}

.cta button{
	margin: 0 20px;
}

.photo-guilder{
	max-width: 75px;
}

