html , body , div , span , applet , object , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , acronym , address , big , cite , code , del , dfn , em , img , ins , kbd , q , s , samp , small , strike , strong , sub , sup , tt , var , b , u , i , dl , dt , dd , ol , ul , li , fieldset , form , label , legend , table , caption , tbody , tfoot , thead , tr , th , td , article , aside , canvas , details , embed , figure , figcaption , footer , header , menu , nav , output , ruby , section , summary , time , mark , audio , video , main , button , progress {
	margin: 0 ;
	padding: 0 ;
	border: 0 ;
	font-size: 100% ;
    word-wrap: break-word ;
	vertical-align: baseline ;
    }

iframe , video , article , aside , details , figcaption , figure , footer, header , menu , nav , section , main , canvas , embed, img {
	display: block ;
    }

table {
	border-collapse: collapse;
	border-spacing: 0 ;
    }

th , thead , table caption {
    text-align: left ;
    }

code {
    font-family: monospace ;
    }

small {
    font-size: 80% ;
    }

li {
    vertical-align: top ;
    list-style-type: none ;
    }

sub , sup {
    font-size: 70% ;
    line-height: 0 ;
    position: relative ;
    vertical-align: baseline ;
    }

sub {   bottom: -0.33em ;    }
sup {   top:    -0.66em ;    }

button {
    box-sizing: content-box ;
    background-color: transparent ;
    }

:not(p) a   {
    text-decoration: none ;
    }

nav li , :not(p) a , button , input[type="button"] , input[type="submit"]  {
    user-select: none ;
    }