/* Texts format by default          */

    html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        line-height: 1.5 ;
        font-size: 125% ;
        text-rendering: optimizeLegibility ;
        -ms-text-size-adjust: 100% ;
        -webkit-text-size-adjust: 100% ;
        height: 100% ;
        }





/* Inline SVG icons         */

    .ico    {
        display: inline-block ;
        vertical-align: middle ;
        line-height: normal ;
        width: 1.4em ;
        height: 1.4em ;
        margin-right: .8em ;
        position: relative ;
        top: -.09em ;
        }

    .ico > svg   {
        height: 100% ;
        width: 100% ;
        fill: currentColor ;
        }





/* Flexible imgs and videos         */

    .flexibleMedia {
        width: auto ;
        height: auto ;
        display: block ;
        max-width: 100% ;   
        }





/* Flexible iframes         */

    .flexibleIframe-wrapper {
        display: block ;
        width: 100% ;
        padding-top: 56.5% ; /* 16:9 aspect-ratio iframes by default */
        }

    .flexibleIframe-wrapper.prop-4x3  { padding-top: 75%    } /*  mod for  4:3 aspect-ratio */
    .flexibleIframe-wrapper.prop-1x1  { padding-top: 100%   } /*  mod for  1:1 aspect-ratio */
    .flexibleIframe-wrapper.prop-21x9 { padding-top: 42.85% } /*  mod for 21:9 aspect-ratio */

    .flexibleIframe-wrapper > iframe {
        position: absolute ;
        width: 100% ;
        height: 100% ;
        top: 0 ;
        left: 0 ;
        }   









