main{
	font-family: 'Roboto Slab', serif;
	color: #0741a2;
}
main header.header{
	display: block;
	width: 100%;
}

main header .logo{
    margin: 20px 0 20px 0;
    text-align: center;
    text-indent: -10000;
}
main header .logo span{
	display: none;
}

main header .logo img{
    max-width: 25%;
}


/*

	BARRA NAVEGACIÓN CON BANDERAS

*/
nav{
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}
nav ul{
	margin:0;
	padding: 0;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}

/*

	DATOS DE LA GUILD

*/
.guild{
	border: 2px solid #0741a2;
	border-radius: 10px;
	margin: 20px 5%;
	padding: 20px;
}

.guild header{
}

.logo-guild{
	display: inline-block;
	border: 2px solid #0741a2;
	border-radius: 100%;
	padding: 5px;
	background-color: #fff;
	width: 68px;
	height: 68px;
}

.guild .logo-guild{
	width: 132px;
	height: 132px;
}

.guild h1{
	margin-bottom:0;
	padding-bottom: 10px;
}
.guild h1 .logo-guild{
	margin-right: 30px;
}
.guild h1 span{	
  text-align: right;
  padding-bottom: 30px;
  display: inline-block;
  vertical-align: bottom;
}

.guild h2{
	max-width: 80%;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;		
	color: #333333;
	text-align: right;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
}


.intro{
  padding: 20px;
  border: 1px dashed grey;
  margin-bottom: 20px;
  border-radius: 10px;
}

.intro p{
	color: #555;	
}

.cta{
	text-align: center;
	padding: 20px 10px;
}

.join{
  display: block;
  padding: 10px 20px;
  background-color: #18438c;
  color: #ffffff;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.4);
  transition: 0.3s ease-in-out;
}

.join:hover {
	color: #fff;
	background-color: #1055ca;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
  text-decoration: none;
}

/*

	LISTADO PROYECTOS

*/

.table{
    max-width: 80%;
    margin:0 auto;
}

.table ul{
    padding: 0;
}

/*

	LISTADO GUILDERS

*/

.guilders{
}

.guilders ul{
	list-style-type: none;
	padding: 20px 20px;
}

.guilders ul li{
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
}

.guilders img.photo-guilder{
  max-width: 64px;
  border-radius: 5px;
  margin: 10px;
}
