doctype html
html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
		link(rel="stylesheet" href="css/list.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
		title OSWGuilds
	body
		main
			header.header
				h1.logo
					span OSWGuilds
					img(src="img/OSWGuilds-logo-blanco.svg" alt="Open Source Weekends Guilds")
				nav
					ul
						li 
							a(href='#1')
								img(class='logo-guild' src="img/logo.png" alt="")
						li 
							a(href='#2')
								img(class='logo-guild' src="img/logo.png" alt="")
						li 
							a(href='')
								img(class='logo-guild' src="img/logo.png" alt="")
						li 
							a(href='')
								img(class='logo-guild' src="img/logo.png" alt="")

			section.guild
				header
					h1
						img.logo-guild(src="img/logo.png" alt="")
						span OSW Helpers Guild
					
					div.intro
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu erat in dui dictum porta. Vivamus maximus magna tellus, id imperdiet erat pellentesque vel. Vestibulum pharetra nulla non molestie scelerisque. Donec sapien ex, porta sit amet massa id, ullamcorper volutpat justo. Nullam malesuada lacus turpis, id imperdiet metus tempus in. Donec enim nibh, blandit vel efficitur vel, commodo quis ligula. Mauris a pulvinar est, a sagittis erat. Integer sodales eleifend nulla, id fringilla orci pharetra eu. Duis tincidunt placerat magna, nec dignissim ex porttitor sed. Proin efficitur neque at ex ultricies, vitae maximus turpis vulputate.

						p Nam ullamcorper mi nec urna posuere, vel rhoncus massa laoreet. Vestibulum dapibus ac massa ac venenatis. Maecenas maximus lectus non varius placerat. Sed consectetur tincidunt malesuada. In auctor eu purus sit amet accumsan. Aenean in facilisis sem, ac rutrum justo. Morbi accumsan scelerisque sapien, a interdum sem faucibus a. In hac habitasse platea dictumst.

						p + info en: enlace
					div.cta
						button(type='button' class='join btn btn-success') Me lío :D !!				
				h2 Proyectos
				table.table
					thread
						th(scope="col") Proyecto
						th(scope="col") Repo						
						th(scope="col") Stack
						th(scope="col") Estado						
						th(scope="col") Se busca...
					tbody
					tr
						td
							a(href="https://github.com/OSWeekends/memezinga") Memezinga
						td
							a(href="http://osweekends.com/memezinga/") Web
						td HTML5, CSS3, JS
						td En Desarrollo						
						td
							ul
								li Frontend
								li Documentación
								li Hacedor de ejemplos
				h2 Guilders

			section.guild
				header
					h1
						img(class='logo-guild' src="img/logo.png" alt="Adalab")
						span Adalab
					
					div(class='intro')
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu erat in dui dictum porta. Vivamus maximus magna tellus, id imperdiet erat pellentesque vel. Vestibulum pharetra nulla non molestie scelerisque. Donec sapien ex, porta sit amet massa id, ullamcorper volutpat justo. Nullam malesuada lacus turpis, id imperdiet metus tempus in. Donec enim nibh, blandit vel efficitur vel, commodo quis ligula. Mauris a pulvinar est, a sagittis erat. Integer sodales eleifend nulla, id fringilla orci pharetra eu. Duis tincidunt placerat magna, nec dignissim ex porttitor sed. Proin efficitur neque at ex ultricies, vitae maximus turpis vulputate.

					div(class='cta')
						button(type='button' class='join btn btn-success') Unirme!
				table(class="table")
					thread
						th(scope="col") Proyecto
						th(scope="col") Web
						th(scope="col") Contacto
						th(scope="col") Tecnologías
						th(scope="col") Estado
						th(scope="col") Versión
						th(scope="col") Se busca...
					tbody
					tr
						td
							a(href="https://github.com/OSWeekends/memezinga") Memezinga
						td
							a(href="http://osweekends.com/memezinga/") Web
						td
							a(href="https://github.com/UlisesGascon") Ulises
						td HTML5, CSS3, JS
						td En Desarrollo
						td 1.0.0
						td
							ul
								li Frontend
								li Documentación
								li Hacedor de ejemplos




		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")